body {
  background-color: #220000;
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navehome {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: black; /* Alterei a cor de fundo para branco */
  padding: 10px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.navehome .logo {
  display: inline-block;
  margin-left: 20px;
}

.navehome .links {
  display: inline-block;
  margin-left: 20px;
}

.navehome .links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navehome .links ul li {
  display: inline;
  margin-right: 20px;
}

.panel-container {
  display: flex;
  align-items: center;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(54, 53, 53, 0.2);
  background-color: #272626;
  margin-top: 50px; /* Espaçamento do topo */
}

.panel-container img {
  width: 40%;
  height: auto;
  margin: 50px;
}


.form-container {
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="email"] {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
  font-size: 16px;
  outline: none;
}

button[type="submit"] {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  font-size: 25px;
  cursor: pointer;
  outline: none;
}

button[type="submit"]:hover {
  font-size: 30px;
}

small {
  text-align: center;
}
.form-container{
  color: white;
}