@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');
@import url('https://fonts.googleapis.com/css?family=Inter:700|Lato:400');

body {
/*texto*/
  font-family: Lato, Inter, sans-serif;
  background-color: #fff;
/*formato*/
  margin: 0;
  height: 100vh;
/*pra ter propriedades de flexbox*/
  display: flex;
  align-items: center;
  justify-content: center;
/*fundo*/
  background-image: url('imgs/bg.jpg');
  background-size: 90vw;
}

.escondido{
/*nao mostra quem tem essa classe*/
  display: none;
}

.container{
/*formato*/
  min-height: 90vh;
  width: 40vw;
  background-color: rgba(5%,5%,5%,75%);
  backdrop-filter: blur(10px);
  padding: 2%;
  box-sizing: border-box;

/*borda*/
  border: 2px solid #fff;
  border-radius: 20px;

/*texto*/
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.campo{
/*para os campos de entrada*/
  position: relative;
  width: 75%;
  display: inline-block;
  vertical-align: middle;
  margin: 20px 0px;
}

.campo p{
/*texto dentro do campo*/
  text-align: left;
  left: 45%;
  padding-left: 40px;
  font-size: 15px;
  margin: 0px;
}

.campo input {
/*caixa de entrada*/
/*formato e posicao*/
  bottom: 0;
  right: 0;
  margin-bottom: 5px;
  height: 40px;
  background-color: #eee;
  border-radius: 0 30px 30px 0;
  border: 0px;
  box-sizing: border-box;
  width: 90%;
  vertical-align: middle;
  padding-left:40px;
/*texto*/
  font-family: Lato, Inter, sans-serif;
  color: #222;
  font-size: 20px;
}

.campo img {
/*posicao*/
  position: absolute;
  bottom: 0;
  left: 0;
  vertical-align: middle;
  z-index: 999;
/*formato*/
  box-sizing: border-box;
  border: 0px solid #000;
  border-radius: 30px;
  max-height: 50px;
  width: auto;
  background-color: #fff;
  font-size: 20px;
  pointer-events: none;
}

button {
/*posicao e formato*/
  margin: 5px;
  height: 5%;
  width: 50%;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 5px;
  border: 0px;
  transition: transform 0.2s;
/*texto*/
  font-family: Lato, Inter, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

button:hover {
    transition: transform 0.3s;
    transform: scale(1.1);
}

.saida{
/*formato*/
  height: 23%;
  box-sizing: border-box;
  padding-left: 20px;
  display: inline-block; 
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
/*efeitos*/
  border-radius: 0 0 30px 30px;
  backdrop-filter: blur(10px);
/*texto*/
  color: #d33;
  font-size: 20px;
  text-align: center;
}

/*-------------------------------------------------------*/
/* tamanho diferente da fonte pra displays menores*/
@media only screen and (max-width: 600px) {
  .container {
    font-size: 16px;
    width: 90vw;
  }

  button {
    font-size: 12px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1400px) {
  .container {
    font-size: 16px;
    width: 75vw;
  }

  button {
    font-size: 12px;
  }
}