
.formulario{
    background: #220000;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* arrumar o tamanho da caixa vermelha */
.container{
    background: #F70000;
    border: 23px;
    margin: 23px ;
    max-width: 400px;
    max-height:600px ;
    width: 100%;
    box-sizing: 0 3px 5px;

}
/*Odiei essa fonte, preciso encontrar outra*/
h1{
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif ;
}
/*centralzar esse formulario */
.forcadastro{
padding: 18px;
}

.formcad{
  text-align: center;
}
.formcad input{

    display: block;
    width: 50%;
    margin-left: 23%;
    padding:  12px;
    border: #220000;
    position: relative;
    background-color: #220000;
    color: white;
    font-size: 16px;
}

.formcad button{
    background: black;
    color: white;
    width: 40%;
    border-radius: 14px;
    border: 12px;
    padding: 12px ;
    font-size: 16px;
    cursor: pointer;
    margin-top: 14px;
    justify-items: center;
}

/*Quando criar o js arrumar a parte da mensagem de erro */
.erro{
color: wheat;
border-radius:  23px, black;
}

.mensagem{

    color: aliceblue;
}

/* Estilizacão da Nave*/


/*Deixar a nave responsiva*/
.navehome{

    display: flex;
    justify-content: space-evenly;
    font-family: "Roboto",sans-serif;
    margin-top: 20px;
    align-items: center;
    background: #000000;
    color:white;
    border:#F70000 solid;
   

}

.naveitens{
    list-style: none;
    font-size: 25px;
    display: flex;
}

.naveitens li{
  
    padding-left: 50px;
}
 
.naveitens a{
    color: white;
}


/*estilização dos botões*/

.butonave button{

    background: black;
    border-bottom:23px;
    border-radius: 9px;
    padding-bottom: 12px;
    font-size: 12px;
    padding-right: 12px;
}

.butonave a{
    color:white;
    align-items: center;
    font-size: 16px;
}
a{
    text-decoration: none;
}

/* Estilizacão da Pagína Home*/

.home{
    background: #220000;
}

/* Estilização da pagina sobre*/
.sobre{
    background: black;
    text-align: center;

}

.sobre_est{
    width: 100%;
    border-left: #F70000 2px solid;
    border-right: #F70000 2px solid;
}

.sobre_est p{ 
    color: white;
    max-width: 500px;
    max-height:700px;
    width: 100%;
    justify-content: center;
    font-size: 23px;
    margin-left: 50px;

}
.sobre_est h1{
    color: white;
    border:#F70000 3px  solid;
}

.sobre_est hr{
    border:#F70000 solid;

}


/* Estilização do carrossel 
.body_carrossel{
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    margin: 0;
    min-height:100vh ;
    box-shadow: 2px 2px 4px black;
}
.carrossel{
   
    overflow: hidden;
    width: 50%;
    height: 500px;

}   

.container_carrossel{
     display: flex;
     transition: transform 0.5s ease-in-out;
     transform: translateX(0);
}
.img{
    object-fit: cover;
    height: 50%;
    width: 500px;
    
}
*/

.body_carrossel{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #fcfbff;
    display: flex;
    justify-content: center;
    margin-top: -10px;

  }
  
  
  main {
    height: 100vh;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
   
  }
  

  
  img {
    box-shadow: 0 1px 2px #0003;
    width: 100%;
  }
  
  .swiper {
    height: 500px;
  }
  
  .swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media (max-width: 450px) {
    .swiper {
      height: 270px;
    }
  }
