@import url('https://fonts.googleapis.com/css?family=Inter:700|Lato:400');
@import url('https://fonts.googleapis.com/css?family=Rakkas:700|Rakkas:400');

/*=================================================*/
/*usados na pagina de critica*/

.critica-container {
/*formato*/
    background: #111;
    overflow: hidden;
    width: 90vw;
    height: auto;
    margin: 1% auto;
    box-sizing: border-box;
    position: relative;
/*texto*/
    text-align: center;
    font-family: Lato, Inter, sans-serif;
    font-size: 20px;

    z-index: 1;
}

.critica-filme {
/*parte de cima da pagina*/
    width: 100%;
    height: 50vh;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    position: relative;
    overflow: hidden;
}

.critica-fundo {
/*foto de fundo*/
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    min-width: 100%;
    min-height: 100%;
    max-width: 150%;
    max-height: 150%;
    z-index: -2;
}

.critica-gradient {
/*degrade*/
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(17, 17, 17, 1), rgba(17, 17, 17, 0));
    z-index: -1;
}

.critica-poster {
/*posicao*/
    position: absolute;
    margin: 1%;
    left: 5%;
    bottom: 0;
/*formato*/
    box-sizing: border-box;
    width: 15%;
    height: auto;
    min-height: 0%;
    border-radius: 10px;
    border: 5px solid rgba(0, 0, 0, 50%);
}

.critica-filme h1{
/*posicao*/
    position: absolute;
    margin: 1%;
    left: 22%;
    bottom: 2%;
    color: #fff;
    font-family: Lato, Inter, sans-serif;
    font-weight: bold;
    font-size: 300%;
}

/*SOBRE O FILME*/
.critica-sobre{
/*parte central da pagina*/
    width: 100%;
    height: auto;
    margin: 2% auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
}

.critica-sobre h1 , h3{
    color: #fff;
    font-family: Lato, Inter, sans-serif;
}

.critica-sobre p{
    color: #fff;
    font-family: Lato, Inter, sans-serif;
    font-size: 100%;
}

.critica-sinopse{
    max-width: 50%;
    padding: 0 5%;
    box-sizing: border-box;
}

.critica-info{
    max-width: 40%;
    height: auto;
    padding: 0 5%;
    box-sizing: border-box;
}

/*COMENTARIOS*/
.critica-reviews{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 2%;
}

.critica-reviews h1, h4, p{
    color: #fff;
    font-family: Lato, Inter, sans-serif;
    margin: 0;
}

/*novo comentario*/
.critica-novoComentario{
    width: 60%;
    margin: 0 auto;
    padding: 1%;
}

.critica-novoComentario textarea{
    margin: 1% 0;
    width: 20vw;
    height: 5vh;
    transition: width 0.3s ease;
    background: #222;
    color: #fff;
    border: 0;
    resize: none;
    outline: none;
    font-size: 20px;
    text-align: center;
    font-family: Lato, Inter, sans-serif;
}

.critica-novoComentario textarea:focus{
    width: 70%;
    height: 15vh;
}

.critica-novoComentario button {
/*posicao e formato*/
    margin: 1% 0;
    width: 30%;
    background-color: #222;
    color: #fff;
    box-sizing: border-box;
    border-radius: 2px;
    border: 0px;
    transition: transform 0.2s;
/*texto*/
    font-family: Lato, Inter, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.critica-novoComentario button:hover {
    transition: transform 0.3s;
    transform: scale(1.1);
}

/*comentarios q ja existem*/
.critica-comentario{
    width: 30%;
    height: auto;
    margin: 2%;
    padding: 1%;
    text-align: left;
    background: #222;
    border-radius: 2px;
}

/*PARA TELAS PEQUENAS*/
@media only screen and (max-width: 768px) {
  .critica-poster {
    width: 25%;
  }

  .critica-filme h1 {
    left: 35%;
    font-size: 175%; /* Adjust the font size for smaller screens */
  }

  .critica-sobre h1,
  .critica-sobre p {
    text-align: center;
    flex-direction: column;
    font-size: 90%; /* Adjust the font size for smaller screens */
  }

  .critica-sinopse,
  .critica-info {
    max-width: 100%;
  }

  .critica-novoComentario textarea {
    width: 100%;
    font-size: 16px; /* Adjust the font size for smaller screens */
  }

  .critica-novoComentario button {
    width: 100%;
    font-size: 14px; /* Adjust the font size for smaller screens */
  }

  .critica-comentario {
    width: 100%;
    font-size: 90%; /* Adjust the font size for smaller screens */
  }
}
/*=================================================*/
/*Logo do nav*/
.navehome img{
    height: 10vh;
    width: auto;
    margin: auto 0;
}

/*=================================================*/
/*Logo do nav*/
.cabecalho{
/*parte de cima da pagina*/
    width: 95vw;
    height: 50vh;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    position: relative;
    overflow: hidden;
    background-image: url('imgs/bg.jpg');
    background-size: 40%;
    margin: 0 auto;
    border-radius: 30px;
    border: 10px solid rgba( 0%, 0%, 0%, 50%);
}

.cabecalho h1{
    position: absolute;
    padding: 2%;
    border-radius: 10px;
    font-size: 100px;
    bottom: 0;
    color: #fff;
    background: rgba( 0%, 0%, 0%, 50%);
}

.formulario{
    background: #220000;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* arrumar o tamanho da caixa vermelha */
.container{
    background:#111;
    border: 23px;
    margin: 23px ;
    max-width: 400px;
    max-height:600px ;
    width: 100%;
    box-sizing: 0 3px 5px;

}

h1{
    text-align: center;
    color: white;
    font-family: Lato, Inter, sans-serif;
}
/*centralzar esse formulario */
.forcadastro{
padding: 18px;
}

.formcad{
  text-align: center;
}
.formcad input{

    display: block;
    width: 50%;
    margin-left: 23%;
    padding:  12px;
    border: #220000;
    position: relative;
    background-color: #220000;
    color: white;
    font-size: 16px;
}

.formcad button{
    background: black;
    color: white;
    width: 40%;
    border-radius: 14px;
    border: 12px;
    padding: 12px ;
    font-size: 16px;
    cursor: pointer;
    margin-top: 14px;
    justify-items: center;
}

/*Quando criar o js arrumar a parte da mensagem de erro */
.erro{
color: wheat;
border-radius:  23px, black;
}

.mensagem{

    color: aliceblue;
}

/* Estilizacão da Nave*/


/*Deixar a nave responsiva*/
.navehome{
    overflow: auto;
    display: flex;
    justify-content: space-evenly;
    font-family: "Roboto",sans-serif;
    margin: 8px;
    align-items: center;
    background: #000000;
    color:white;
    border:#F70000 solid;
   

}

.naveitens{
    list-style: none;
    font-size: 25px;
    display: flex;
}

.naveitens li{
  
    padding-left: 50px;
}
 
.naveitens a{
    color: white;
}


/*estilização dos botões*/

.butonave button{

    background: black;
    border-bottom:23px;
    border-radius: 9px;
    padding-bottom: 12px;
    font-size: 12px;
    padding-right: 12px;
}

.butonave a{
    color:white;
    align-items: center;
    font-size: 16px;
}
a{
    text-decoration: none;
}

/* Estilizacão da Pagína Home*/

.home{
    background: #220000;
}

/* Estilização da pagina sobre*/
.sobre{
    background: black;
    text-align: center;

}

.sobre_est{
    width: 100%;
    border-left: #F70000 2px solid;
    border-right: #F70000 2px solid;
}

.sobre_est p{ 
    color: white;
    max-width: 500px;
    max-height:700px;
    width: 100%;
    justify-content: center;
    font-size: 23px;
    margin-left: 50px;

}
.sobre_est h1{
    color: white;
    border:#F70000 3px  solid;
}

.sobre_est hr{
    border:#F70000 solid;

}


/* Estilização do carrossel 
.body_carrossel{
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    margin: 0;
    min-height:100vh ;
    box-shadow: 2px 2px 4px black;
}
.carrossel{
   
    overflow: hidden;
    width: 50%;
    height: 500px;

}   

.container_carrossel{
     display: flex;
     transition: transform 0.5s ease-in-out;
     transform: translateX(0);
}
.img{
    object-fit: cover;
    
}
*/

.body_carrossel{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #fcfbff;
    display: flex;
    justify-content: center;
    margin-top: -10px;

  }
  
  
  main {
    height: 100vh;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
   
  }
  

  
  .project-img  {
    box-shadow: 0 1px 2px #0003;
    width: 100%;
  }
  
  .swiper {
    height: 500px;
  }
  
  .swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media (max-width: 450px) {
    .swiper {
      height: 270px;
    }
  }
  

  .carousel .card{
    align-items: center;
    background: white;
    margin-top:  23px;

  }
  .carousel p{
    color: black;
    font-weight: bold;  
    font-family: 'Lato' sans-serif;
  }


  .card h1{
    border: solid 4px black;
    color : black;
    font-size:20px; ;
    font-family: 'Roboto' sans-serif;
    font-weight: bold;
  }
  .card img{
    height: 30%;
    width: 90%;
    margin-top: 3%;
    border-radius: 6%;
    
  }

  .estilo_h2{
    color: white;
    border: 4px white solid;
    text-align: center;
    margin-top: 13px;
  }

  .text_1{
    display: flex;
  }

  .text{

    margin-left: 3%;
    margin-right: 7%;
  }

  .text_1 img{
    height: 30%;
    width: 25%;
    margin-top: 3%;
    border-radius: 6%;
    margin-right: 4%;
  }

  .text h1{
    color: white;
    border: 1px white solid;
    margin-left: 23px;
    margin-right: 23px;
    text-align: center;
    margin-top: 13px;
  }

  .text p{
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
  }





